<nav class="navbar navbar-fixed-top navbar-dark bg-inverse container-fluid" style="background-color: gray">
  <div class="container-fluid">
      <a class="navbar-brand" style="font-size: 24px;color: white">Risk Monitor</a>
      <a class="navbar-brand" style="font-size: 24px;color: white">Risk Monitor</a>      
  </div>
  <div style="background-color: lightgray">
    <ul class="nav navbar-nav" routerLinkActive="">
        <li class="nav-item" *ngIf="TotalMarginPercent<0" style="background-color: red"><a class="nav-link" routerLink="Margin" style="min-width: 250px !important;color:black">TOTAL MARGIN <br /> 
            USD {{TotalMargin}}  |  {{TotalMarginPercent}}% </a>
        </li>
        <li class="nav-item" *ngIf="TotalMarginPercent>=0"><a class="nav-link" routerLink="Margin" style="min-width: 250px !important;color:black">TOTAL MARGIN <br /> 
            USD {{TotalMargin}}  |  {{TotalMarginPercent}}% </a>
        </li>

        <li class="nav-item"  *ngIf="TotalRiskPercent<0" style="background-color: red"><a class="nav-link" routerLink="Risk" style="min-width: 250px !important;color:black">TOTAL RISK <br /> 
            USD {{TotalRisk}}  |  {{TotalRiskPercent}}% </a>
        </li>
        <li class="nav-item" *ngIf="TotalRiskPercent>=0"><a class="nav-link" routerLink="Risk" style="min-width: 250px !important;color:black">TOTAL RISK <br /> 
            USD {{TotalRisk}}  |  {{TotalRiskPercent}}% </a>
        </li>


        <li class="nav-item" *ngIf="TotalExposurePercent<0" style="background-color: red"><a class="nav-link" routerLink="Exposure" style="min-width: 250px !important;color:black">TOTAL EXPOSURE <br /> 
            USD {{TotalExposure}}  |  {{TotalExposurePercent}}% </a>
        </li>
        <li class="nav-item" *ngIf="TotalExposurePercent>=0"><a class="nav-link" routerLink="Exposure" style="min-width: 250px !important;color:black">TOTAL EXPOSURE <br /> 
            USD {{TotalExposure}}  |  {{TotalExposurePercent}}% </a>
        </li>


        <li class="nav-item" *ngIf="TotalPortfolioPercent<0" style="background-color: red"><a class="nav-link" routerLink="Pfvalue" style="min-width: 250px !important;color:black">TOTAL PORTFOLIO VALUE <br /> 
            USD {{TotalPortfolio}}  |  {{TotalPortfolioPercent}}% </a>
        </li>
        <li class="nav-item" *ngIf="TotalPortfolioPercent>=0"><a class="nav-link" routerLink="Pfvalue" style="min-width: 250px !important;color:black">TOTAL PORTFOLIO VALUE <br /> 
            USD {{TotalPortfolio}}  |  {{TotalPortfolioPercent}}% </a>
        </li>
    </ul>
   </div>
</nav>
<router-outlet></router-outlet>

<footer class="al-footer clearfix" style="text-align: right;text-align: bottom;margin-right: 2%;margin-top: 3%">
    <div class="al-footer-main clearfix">
      <div class="al-copy"><b> Copyright &copy; {{ currentYear }}. All rights reserved.  </b></div>
    </div>
</footer>
